name: Generate Datas
on:
  schedule:
    - cron: "* */12 * * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@master
        with:
          github_user_name: 1andre-santos1
          svg_out_path: dist/github-contribution-grid-snake.svg
